.movies {
    padding: 70px 70px 0;
}

.movies__list {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fit, 360px);
    list-style-type: none;
    gap: 60px 30px;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 890px){
    .movies {
        padding: 70px 30px 0;
    }

    .movies__list{
        gap: 45px 30px;
        grid-template-columns: repeat(auto-fit, 339px);
    }
}

@media screen and (max-width: 400px){
    .movies {
        padding: 40px 10px 0;
    }

    .movies__list{
        gap: 36px 0;
        grid-template-columns: repeat(auto-fit, 300px);
    }
}
