.movie {
    display: flex;
    flex-direction: column;
    padding: 80px 70px;
    width: 100%;
    box-sizing: border-box;
}

.movie__list {
    margin: 0;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding-bottom: 50px;
    padding-left: 0;
}

@media screen and (max-width: 1200px){
    .movie {
        padding: 80px 30px 70px 30px;
    }
    .movie__list{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 760px){
    .movie__list {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 375px){
    .movie {
        padding: 40px 10px 0;
    }

    .movie__list{
        gap: 10px;
        padding: 0;
    }
}
