.movie__item {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 14px;
    cursor: pointer;
}

.movie__trailer {
    height: 100%;
    width: 100%;
}

.movie__image {
    border-radius: 6px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.movie__content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    margin: 0 14px;
}

.movie__title {
    max-width: 250px;
    width: 100%;
    margin: 0;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.movie__duration {
    max-width: 52px;
    width: 100%;
    max-height: 18px;
    height: 100%;
    margin: 0;
    background-color: #2F2F2F;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 11px;
    font-weight: 400;
    line-height: 10px;
    color: #8B8B8B;
    display: flex;
    justify-content: center;
    align-items: center;
}


.movie__button {
    z-index: 1;
    cursor: pointer;
    position: absolute;
    background-color: #313131;
    border-radius: 30px;
    right: 14px;
    top: 14px;
    padding: 0;
    border: none;
    background-repeat: no-repeat;
    background-size: cover;
}

.movie__button_save {
    background-image: url("../../images/buttonSave.svg");
    width: 72px;
    height: 21px;
    background-color: transparent;
}

.movie__button_saved {
    background-image: url("../../images/savedBtn.svg");
    width: 21px;
    height: 21px;
    background-color: transparent;
}

.movie__button_delete {
    background-image: url("../../images/deleteBtn.svg");
    width: 21px;
    height: 21px;
    background-color: transparent;
}

@media screen and (max-width: 890px){
    .movie__item {
        gap: 25px;
    }

    .movie__content {
        margin: 0;
    }
}

@media screen and (max-width: 400px) {
    .movie__item {
        gap: 16px;
    }

    .movie__title {
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
    }
}