.checkbox__form {
    display: flex;
    margin: 30px 0 42px;
    justify-content: center;
}

.checkbox__label {
    cursor: pointer;
    background-color: transparent;
    width: 34px;
    background-repeat: no-repeat;
    border: none;
}

.checkbox__label-inactive {
    background-image: url("../../images/checkboxDisactive.svg");
}

.checkbox__label-active {
    background-image: url("../../images/checkboxActive.svg");
}

/*.checkbox__input {*/
/*    display: none;*/
/*}*/

.checkbox__title {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin: 0;
    padding-left: 13px;
}

@media screen and (max-width: 768px){
    .checkbox__form {
        margin-top: 43px;
    }
}


@media screen and (max-width: 320px){
    .checkbox__form {
        margin-top: 49px;
    }

    .checkbox__title {
        font-size: 11px;
    }
}