.root {
    background-color: #202020;
    color: #ffffff;
    max-width: 1280px;
    min-width: 320px;
    margin: 0 auto;
    font-family: 'Inter', 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
}

/* общие стили для лендинга "о проекте/технологиях/студенте"*/
.text__head {
    font-weight: 400;
    line-height: 27px;
    font-size: 22px;
    padding-bottom: 23px;
    text-align: start;
    border-bottom: 1px solid #DADADA;
    letter-spacing: -0.04em;
}

.link {
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.5s linear;
    text-decoration: none;
}

.link:hover {
    opacity: .7;
}

.link__nav {
    color: #4285F4;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
}

@media screen and (max-width: 320px) {
    .link__nav {
        font-size: 12px;
        line-height: 15px;
    }
}

@media screen and (max-width: 460px){
    .text__head {
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 28px;
    }
}


