.promo {
    display: flex;
    flex-direction: column;
    padding: 20px 40px 0;
    min-height: calc(100vh - 250px);
}

.promo__info {
    background-color: #272727;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.promo__title {
    margin: 0;
    padding: 160px 235px 0;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
}